@model WebApplication1.Models.Specialist

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Specialist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" class="form-card">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpecialistName" class="control-label"></label>
                <input asp-for="SpecialistName" class="form-control" />
                <span asp-validation-for="SpecialistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialistCertificate" class="control-label"></label>
                <input asp-for="SpecialistCertificate" class="form-control" />
                <span asp-validation-for="SpecialistCertificate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label"></label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
      
            <div class="form-group">
                <label asp-for="SpecialistFacebookLinck" class="control-label"></label>
                <input asp-for="SpecialistFacebookLinck" class="form-control" />
                <span asp-validation-for="SpecialistFacebookLinck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialistInstgramLinck" class="control-label"></label>
                <input asp-for="SpecialistInstgramLinck" class="form-control" />
                <span asp-validation-for="SpecialistInstgramLinck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialistTwiterLinck" class="control-label"></label>
                <input asp-for="SpecialistTwiterLinck" class="form-control" />
                <span asp-validation-for="SpecialistTwiterLinck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="font-weight-bold text-primary"></label>
                <input asp-for="ImageFile" class="form-control form-control-lg" type="file" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

